.num-button {
  width: 60px;
  height: 60px;
  margin: 0px;
  text-align: center;
  border-radius: 15px;
  color: #585758;
  cursor: pointer;
}
.num-button p {
  margin-top: 14px;
}

.num-button :hover {
  color: #000000;
}
